.izin-class
{height: 350;
    width: 600;
    !important
}

.arabulucu-class {
    height: 350; 
    width: 600;
    !important;
}

.classresim {

    height: 10; !important
    width: 10; !important;
}